.clear-btn {
  display: flex;
  flex: 1;
  height: 5rem;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 2rem;
  outline: 1px solid #888;
  height: 5rem;
  background-color: #c5c3cd;
}
